workflows/Auto short/reels/tiktok post.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get directories list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get directories list": {
      "main": [
        [
          {
            "node": "Extract directory list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get metadata download link": {
      "main": [
        [
          {
            "node": "Get metadatas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video download link": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Parse metadata1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get metadatas": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract directory list": {
      "main": [
        [
          {
            "node": "Get video download link",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get metadata download link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post on TikTok": {
      "main": [
        [
          {
            "node": "Share Tiktok on Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post on instagram": {
      "main": [
        [
          {
            "node": "Share reel on Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse metadata1": {
      "main": [
        [
          {
            "node": "Filter on date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter on date": {
      "main": [
        [
          {
            "node": "Post on instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post on TikTok",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube": {
      "main": [
        [
          {
            "node": "Share short on Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-02T17:25:35.512Z",
  "id": "GsDgwegywpD4YBXv",
  "meta": null,
  "name": "Auto short/reels/tiktok post",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "id": "91bf9198-27ca-465f-8fd8-6061ab2d7aed",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -140,
        740
      ]
    },
    {
      "parameters": {
        "url": "https://cloud.dysnomia.studio/api/v2.1/via-repo-token/dir/?p=/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "p",
              "value": "/"
            }
          ]
        },
        "options": {}
      },
      "id": "b0c5efeb-be47-46a9-8a49-2f198e8ec795",
      "name": "Get directories list",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60,
        740
      ]
    },
    {
      "parameters": {
        "url": "https://cloud.dysnomia.studio/api/v2.1/via-repo-token/file/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "path",
              "value": "={{ $json.name }}/video.mp4"
            }
          ]
        },
        "options": {}
      },
      "id": "f72c50bb-c9a3-4b20-891e-37b3f9e9e0a8",
      "name": "Get file Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        460
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://cloud.dysnomia.studio/api/v2.1/via-repo-token/download-link/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "path",
              "value": "={{ $json.name }}/video.mp4"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "link"
            }
          }
        }
      },
      "id": "a2c316c8-e62b-47e7-9375-1f9d770a5fb4",
      "name": "Get video download link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        640
      ]
    },
    {
      "parameters": {
        "url": "https://cloud.dysnomia.studio/api/v2.1/via-repo-token/download-link/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "path",
              "value": "={{ $json.name }}/metadata.json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "link"
            }
          }
        }
      },
      "id": "30d19251-406b-4061-8686-07af0018a236",
      "name": "Get metadata download link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        840
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "2f7bef9a-9067-4f7d-af8b-09109376b973",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        800,
        700
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "124b9c44-4915-4d20-b9f1-79f385130c9c",
      "name": "Get metadatas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        840
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.dirent_list"
      },
      "id": "d8ad090c-6a4f-434e-9e53-d518fb678c84",
      "name": "Extract directory list",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        740
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.tiktokapis.com/v2/post/publish/video/init/",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"post_info\": {\n    \t\"privacy_level\": \"{{ $json.privacy_level }}\",\n    \t\"title\": \"{{ $json.title }}\",\n    \t\"disable_duet\": {{ $json.disable_duet }},\n    \t\"disable_stitch\": {{ $json.disable_stitch }},\n    \t\"disable_comment\": {{ $json.disable_comment }},\n    \t\"video_cover_timestamp_ms\": {{ $json.video_cover_timestamp_ms }},\n    \t\"brand_content_toggle\": {{ $json.brand_content_toggle }},\n    \t\"brand_organic_toggle\": {{ $json.brand_organic_toggle }},\n    \t\"is_aigc\": {{ $json.is_aigc }}\n    },\n    \"source_info\": {\n        \"video_url\": \"{{ $('Get video download link').itemMatching($itemIndex).json.link }}\",\n    \t\"source\": \"{{ $json.source }}\"\n    }\n}",
        "options": {}
      },
      "id": "5d592e13-1598-4207-ba0b-b8c4ce8e600e",
      "name": "Post on TikTok",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        540
      ],
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9bad87fc-bf5f-493a-9f6f-894848b69088",
      "name": "Post on instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        720
      ],
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "webhook",
        "options": {}
      },
      "id": "7b5f5890-e49f-4dee-99bc-ed202f81cb8f",
      "name": "Share reel on Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1700,
        720
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "options": {}
      },
      "id": "250100df-c925-4eac-bc8b-11cc7c0f6bb0",
      "name": "Share short on Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1700,
        900
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "options": {}
      },
      "id": "0881d2c6-e68d-4f7f-ac17-187b27b675b9",
      "name": "Share Tiktok on Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1700,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = JSON.parse($json.data);\n\nlet currDate = new Date();\ncurrDate = `${currDate.getFullYear()}-${(currDate.getMonth() + 1).toString().padStart(2, '0')}-${(currDate.getDate()).toString().padStart(2, '0')}`;\n\ndata.shouldPost = data.date === currDate;\ndata.videoUrl = $json.link;\n\nreturn data;"
      },
      "id": "97281e02-4bc0-4494-8e1e-6e79860eb6fb",
      "name": "Parse metadata1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        700
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "40c689e5-ed00-4ffa-b252-afd3b381f6be",
      "name": "Filter on date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        700
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json.title }}",
        "regionCode": "FR",
        "categoryId": "20",
        "options": {}
      },
      "id": "82d200f8-8a85-44b9-8863-f0505efa2b86",
      "name": "YouTube",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1540,
        900
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.videoUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "569ec8ab-8dc5-457e-a891-b6bcb734b0b8",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        900
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-11-02T17:25:53.000Z",
  "versionId": "25ffc633-aa52-459b-b13c-de3cfb964ee5"
}