workflows/Automatically cleanup Github packages.json
{
  "active": true,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Set variable containing organizations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set variable containing organizations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set variable containing organizations": {
      "main": [
        [
          {
            "node": "Github - Get packages list in orgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Github - Get packages list in orgs": {
      "main": [
        [
          {
            "node": "Github - Get package versions list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Github - Get package versions list": {
      "main": [
        [
          {
            "node": "Filter out recent versions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter out recent versions": {
      "main": [
        [
          {
            "node": "Github - Delete outdated package versions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-02T16:11:06.781Z",
  "id": "l88N0x0fIAusepmO",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Automatically cleanup Github packages",
  "nodes": [
    {
      "parameters": {},
      "id": "5c2e8cb0-7cff-4133-a5aa-4ce6980a9626",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        460,
        680
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ]
            }
          ]
        }
      },
      "id": "a889c60e-2d75-4621-9a88-0d72150aee7a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { id: 'Dysnomia-Studio' },\n  { id: 'L-U-M-E-N' },\n];"
      },
      "id": "7f7857a2-1c78-45ec-b602-7030ddbc12f9",
      "name": "Set variable containing organizations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        560
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/orgs/{{ $json.id }}/packages?package_type=container&per_page=100",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "9c45b410-280e-48cc-8913-383a0ab3e059",
      "name": "Github - Get packages list in orgs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        560
      ],
      "credentials": {
        "githubApi": {
          "id": "I4WxqKbPS67LQq6h",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/orgs/{{ $json.owner.login }}/packages/{{ $json.package_type }}/{{ $json.name }}/versions?per_page=100",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "a89eb828-3fa2-4968-ae9e-899921714b75",
      "name": "Github - Get package versions list",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        560
      ],
      "credentials": {
        "githubApi": {
          "id": "I4WxqKbPS67LQq6h",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const packageVersions = await $input.all();\n\npackageVersions.sort((a, b) => (new Date(b.updated_at)).getTime() - (new Date(a.updated_at)).getTime());\n\nconst counter = {};\nconst ret = [];\nfor(let i = 0; i < packageVersions.length; i++) {\n  const json = packageVersions[i].json;\n  if(!counter[json.package_html_url]) {\n    counter[json.package_html_url] = 0;\n  }\n\n  if(counter[json.package_html_url] >= 5) { \n    ret.push(packageVersions[i]);\n    continue;\n  }\n\n  counter[json.package_html_url]++;\n}\n\nreturn ret;\nreturn [{ toDelete: ret, metaData: counter }];"
      },
      "id": "938b5588-f9a5-4039-8955-cf42220104c4",
      "name": "Filter out recent versions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        560
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "7a0cae22-802d-4e08-8674-8b698c68ce13",
      "name": "Github - Delete outdated package versions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        560
      ],
      "credentials": {
        "githubApi": {
          "id": "I4WxqKbPS67LQq6h",
          "name": "GitHub account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-11-02T16:01:26.573Z",
      "updatedAt": "2024-11-02T16:01:26.573Z",
      "id": "zYFdeVg6RAsRrBUS",
      "name": "to-github"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-11-02T16:11:29.000Z",
  "versionId": "356e0f15-3a10-42a1-aa24-ced4951a2108"
}