workflows/Filter-out social posts.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-04-07T11:04:17.000Z",
    "createdAt": "2026-04-07T11:04:15.637Z",
    "versionId": "89302814-cf6f-4192-b8ab-91aca85235d4",
    "workflowId": "9xBZjNJbxXDjOYHT",
    "nodes": [
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "edebbb30-adb2-4953-a5ae-8f7ddaf0eaae",
                "leftValue": "",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          480,
          -272
        ],
        "id": "5298c974-4050-44db-8820-41d4b5ecbce1",
        "name": "Filter out topics"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b63e2b89-dd4b-4c2b-9771-d7fe5b4385ab",
                "name": "valid",
                "value": "={{ $json.valid }}",
                "type": "boolean"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          688,
          -272
        ],
        "id": "6f5a4a88-bffd-4dda-9fcc-fd491f099196",
        "name": "Return"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "1a845a32-3044-4317-96ed-3e1533754547",
        "typeVersion": 1.1,
        "name": "Start",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          64,
          -272
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const scoreData = {\n  // Location-related topics\n  \"austria\": -1,\n  \"berlin\": -1,\n  \"denmark\": -1,\n  \"dresden\": -1,\n  \"hamburg\": -1,\n  \"frankfurt\": -1,\n  \"indonesia\": -1,\n  \"slovenia\": -1,\n  \"sverige\": -1,\n  \"sweden\": -1,\n  \"serbia\": -1,\n  \"slovakia\": -1,\n  \"swiss\": -1,\n  \"switzerland\": -1,\n  // Delivery-related topics\n  \"amazon\": -10,\n  \"dhl\": -100,\n  // War-related topics\n  \"forces\": -1,\n  \"krieg\": -100,\n  \"helikopter\": -100,\n  \"militär\": -100,\n  \"millitär\": -100,\n  \"militar\": -100,\n  \"millitar\": -100,\n  \"russland\": -100,\n  \"ukrain\": -100,\n  \"war\": -100,\n  // Game-related topic\n  \"game\": 100,\n  \"hacking\": \"5\",\n  \"merge\": 5,\n  \"mods\": -1,\n  \"minecraft\": -10,\n  \"stardew\": -10,\n  \"steam\": 100,\n  \"train\": 100,\n  // Other topics\n  \"aktien\": -1,\n  \" ai \": -100,\n  \" ai-\": -100,\n  \"crypto\": -100,\n  \"financ\": -1,\n  \"finanz\": -1,\n  \"intern\": -1,\n  \"investment\": -100,\n  \"job\": -1,\n  \"karriere\": -1,\n  \"legal\": -1,\n  \"news\": -1,\n  \"politik\": -1,\n  \"presse\": -1,\n  \"stream\": 5,\n  \"truck\": -1,\n  \"lkw\": -1,\n  \"twitch\": 5,\n  // Other \"brands\" with the same name\n  \"eris dysnomia\": -10,\n  \"mother dysnomia\": -10,\n  \"dawn of midi\": -10,\n};\n\nlet score = 0;\nconst loweredText = $input.item.json.text.toLowerCase();\nfor(const scoreItemKey in scoreData) {\n  if(loweredText.includes(scoreItemKey)) {\n    score += scoreData[scoreItemKey];\n  }  \n}\n\nreturn {\n  valid: score > -1  \n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          272,
          -272
        ],
        "id": "b6edfb2c-280a-4a7c-ba1d-fa87219f28e5",
        "name": "Code in JavaScript"
      }
    ],
    "connections": {
      "Start": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter out topics": {
        "main": [
          []
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Filter out topics",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Axel Soupé",
    "name": "Version 89302814",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "89302814-cf6f-4192-b8ab-91aca85235d4",
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter out topics": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Filter out topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-04T11:28:32.932Z",
  "id": "9xBZjNJbxXDjOYHT",
  "isArchived": false,
  "meta": null,
  "name": "Filter-out social posts",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "edebbb30-adb2-4953-a5ae-8f7ddaf0eaae",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        480,
        -272
      ],
      "id": "5298c974-4050-44db-8820-41d4b5ecbce1",
      "name": "Filter out topics"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b63e2b89-dd4b-4c2b-9771-d7fe5b4385ab",
              "name": "valid",
              "value": "={{ $json.valid }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        -272
      ],
      "id": "6f5a4a88-bffd-4dda-9fcc-fd491f099196",
      "name": "Return"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "1a845a32-3044-4317-96ed-3e1533754547",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        64,
        -272
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const scoreData = {\n  // Location-related topics\n  \"austria\": -1,\n  \"berlin\": -1,\n  \"denmark\": -1,\n  \"dresden\": -1,\n  \"hamburg\": -1,\n  \"frankfurt\": -1,\n  \"indonesia\": -1,\n  \"slovenia\": -1,\n  \"sverige\": -1,\n  \"sweden\": -1,\n  \"serbia\": -1,\n  \"slovakia\": -1,\n  \"swiss\": -1,\n  \"switzerland\": -1,\n  // Delivery-related topics\n  \"amazon\": -10,\n  \"dhl\": -100,\n  // War-related topics\n  \"forces\": -1,\n  \"krieg\": -100,\n  \"helikopter\": -100,\n  \"militär\": -100,\n  \"millitär\": -100,\n  \"militar\": -100,\n  \"millitar\": -100,\n  \"russland\": -100,\n  \"ukrain\": -100,\n  \"war\": -100,\n  // Game-related topic\n  \"game\": 100,\n  \"hacking\": \"5\",\n  \"merge\": 5,\n  \"mods\": -1,\n  \"minecraft\": -10,\n  \"stardew\": -10,\n  \"steam\": 100,\n  \"train\": 100,\n  // Other topics\n  \"aktien\": -1,\n  \" ai \": -100,\n  \" ai-\": -100,\n  \"crypto\": -100,\n  \"financ\": -1,\n  \"finanz\": -1,\n  \"intern\": -1,\n  \"investment\": -100,\n  \"job\": -1,\n  \"karriere\": -1,\n  \"legal\": -1,\n  \"news\": -1,\n  \"politik\": -1,\n  \"presse\": -1,\n  \"stream\": 5,\n  \"truck\": -1,\n  \"lkw\": -1,\n  \"twitch\": 5,\n  // Other \"brands\" with the same name\n  \"eris dysnomia\": -10,\n  \"mother dysnomia\": -10,\n  \"dawn of midi\": -10,\n};\n\nlet score = 0;\nconst loweredText = $input.item.json.text.toLowerCase();\nfor(const scoreItemKey in scoreData) {\n  if(loweredText.includes(scoreItemKey)) {\n    score += scoreData[scoreItemKey];\n  }  \n}\n\nreturn {\n  valid: score > -1  \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -272
      ],
      "id": "b6edfb2c-280a-4a7c-ba1d-fa87219f28e5",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-04-04T11:28:32.936Z",
      "createdAt": "2026-04-04T11:28:32.936Z",
      "role": "workflow:owner",
      "workflowId": "9xBZjNJbxXDjOYHT",
      "projectId": "eAQxkiYNZBMLrPPR"
    }
  ],
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-07T11:04:15.636Z",
  "versionId": "89302814-cf6f-4192-b8ab-91aca85235d4"
}