workflows/Mastodon to social-networks-feed (Discord).json
{
  "active": true,
  "connections": {
    "Discord": {
      "main": [
        [
          {
            "node": "Set last update date for the next run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set last update date if never done": {
      "main": [
        [
          {
            "node": "Set items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter to get recent posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every X minutes": {
      "main": [
        [
          {
            "node": "Set last update date if never done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter to get recent posts": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set items": {
      "main": [
        [
          {
            "node": "Get all posts for X on Mastodon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all posts for X on Mastodon": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-02T16:41:55.413Z",
  "id": "uk2TETJEJpDg34RI",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Mastodon to social-networks-feed (Discord)",
  "nodes": [
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.url }}",
        "options": {}
      },
      "id": "2348c05b-5f5e-457f-ad46-cd9f0a93faa9",
      "name": "Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        460,
        460
      ],
      "credentials": {
        "discordWebhookApi": {
          "id": "7GJE0UNQkqw0bawY",
          "name": "social-networks-feed"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the static data of the node\nconst nodeStaticData = $getWorkflowStaticData('global');\n\n// Update its data\nif(!nodeStaticData.lastExecution) {\n  nodeStaticData.lastExecution = new Date().getTime() - 7*24*3600*1000;\n}\n\nreturn [{lastExecution: nodeStaticData.lastExecution }];"
      },
      "id": "e69b4578-ae64-416c-8ace-90f55032f28e",
      "name": "Set last update date if never done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        560
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "statuses",
        "options": {}
      },
      "id": "1a7899e8-b218-4e9a-9226-99d4614ff149",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        60,
        560
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "14e0f95b-36d1-4a94-816e-6306560ba64c",
      "name": "Every X minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -680,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "07f23053-a317-4e1d-b88d-96df9449d146",
              "leftValue": "={{ new Date($json.created_at).getTime() }}",
              "rightValue": "={{ $('Set last update date if never done').item.json.lastExecution }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ad0af1f2-8985-491e-9796-a6c9d63e9607",
      "name": "Filter to get recent posts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        240,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the static data of the node\nconst nodeStaticData = $getWorkflowStaticData('global');\n\n// Update its data\nnodeStaticData.lastExecution = $now - 10000;\n\nreturn [{lastExecution: nodeStaticData.lastExecution }];"
      },
      "id": "8e1dac8f-27a0-46a3-8545-6987547c1f11",
      "name": "Set last update date for the next run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { value: \"Manufactur'inc\" },\n  { value: \"Manufacturinc\" },\n  { value: \"Alchemistry\" },\n  { value: \"Dysnomia\" },\n]"
      },
      "id": "5dca42df-f8e3-4690-ad0d-aaa64369c1c1",
      "name": "Set items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -300,
        560
      ]
    },
    {
      "parameters": {
        "url": "https://mastodon.gamedev.place/api/v2/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.value }}"
            },
            {
              "name": "type",
              "value": "statuses"
            }
          ]
        },
        "options": {}
      },
      "id": "a62eece0-d40c-4684-930c-6e0e61a5102d",
      "name": "Get all posts for X on Mastodon",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        560
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "jdbCWDL35Ymek9Xr",
          "name": "Mastodon"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Every X minutes": {
      "recurrenceRules": []
    },
    "global": {
      "lastExecution": 1729962012632
    }
  },
  "tags": [
    {
      "createdAt": "2024-11-02T16:36:53.857Z",
      "updatedAt": "2024-11-02T16:36:53.857Z",
      "id": "9XaKO3szxYPXQNkk",
      "name": "to-discord-private"
    },
    {
      "createdAt": "2024-11-02T16:42:14.857Z",
      "updatedAt": "2024-11-02T16:42:14.857Z",
      "id": "aHZEkpnFEPFOs05Z",
      "name": "from-mastodon"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-11-02T16:46:19.000Z",
  "versionId": "70b74a4d-423f-439d-8a5a-0192c6f58118"
}