workflows/My Bluesky posts to social-networks (Discord).json
{
  "active": true,
  "connections": {
    "Discord": {
      "main": [
        [
          {
            "node": "Set last update date for the next run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set last update date if never done": {
      "main": [
        [
          {
            "node": "Get all posts from Elanis on Bluesky",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every X minutes": {
      "main": [
        [
          {
            "node": "Set last update date if never done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all posts from Elanis on Bluesky": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set last update date for the next run": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Set last update date if never done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-02T16:47:32.512Z",
  "id": "4wWeWInG4piKzegw",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My Bluesky posts to social-networks (Discord)",
  "nodes": [
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.uri }}",
        "options": {}
      },
      "id": "e1a682a2-7e99-47d8-a376-d45d5a6fdd83",
      "name": "Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1380,
        620
      ],
      "credentials": {
        "discordWebhookApi": {
          "id": "F2jlVVALmGznxWXk",
          "name": "social-feed"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the static data of the node\nconst nodeStaticData = $getWorkflowStaticData('global');\n\n// Update its data\nif(!nodeStaticData.lastUpdate) {\n  nodeStaticData.lastUpdate = new Date('2024-11-02').getTime();\n}\n\nreturn [{lastUpdate: nodeStaticData.lastUpdate }];"
      },
      "id": "6b68b556-cd2b-401d-a791-5146c8fffeee",
      "name": "Set last update date if never done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        620
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0,30 * * * *"
            }
          ]
        }
      },
      "id": "e3b8948b-e827-4bed-92dc-9c49a344bd2f",
      "name": "Every X minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        460,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the static data of the node\nconst nodeStaticData = $getWorkflowStaticData('global');\n\n// Update its data\nnodeStaticData.lastUpdate = $now - 10000;\n\nreturn [{lastUpdate: nodeStaticData.lastUpdate }];"
      },
      "id": "efd26801-4f72-4f9b-86c2-26277b9308aa",
      "name": "Set last update date for the next run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        620
      ]
    },
    {
      "parameters": {
        "url": "https://public.api.bsky.app/xrpc/app.bsky.feed.getAuthorFeed",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "actor",
              "value": "elanis.bsky.social"
            }
          ]
        },
        "options": {}
      },
      "id": "850e63ee-83ba-4854-b285-d68b704b6509",
      "name": "Get all posts from Elanis on Bluesky",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "const nodeStaticData = $getWorkflowStaticData('global');\nlet res = [];\n\nfor(const item of $input.all()[0].json.feed) {\n  if(!(item.post.record.reply && item.post.record.reply.parent) && new Date(item.post.record.createdAt).getTime() > nodeStaticData.lastUpdate) {\n    const parts = item.post.uri.split('/');\n    res.push({ rec: item.post.record.reply, date: new Date(item.post.record.createdAt).getTime(), uri: 'https://bsky.app/profile/elanis.bsky.social/post/' + parts[parts.length - 1] });\n  }\n}\n\nreturn res;"
      },
      "id": "cc1b0d58-e81f-4423-a467-504208f7a9a8",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        620
      ]
    },
    {
      "parameters": {
        "workflowId": "ejXq31uGCMn4jcTw",
        "options": {}
      },
      "id": "d43b2c7a-0ec5-47b8-b3f4-bb2937db075a",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1860,
        620
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "632d738a-0b96-4a1d-9488-e1efdb758301",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Every X minutes": {
      "recurrenceRules": []
    },
    "global": {
      "lastUpdate": 1732553993313
    }
  },
  "tags": [
    {
      "createdAt": "2024-11-02T16:49:15.645Z",
      "updatedAt": "2024-11-02T16:49:15.645Z",
      "id": "CyfgQn7wBVAWBlz9",
      "name": "to-discord-public"
    },
    {
      "createdAt": "2024-11-02T16:37:04.127Z",
      "updatedAt": "2024-11-02T16:37:04.127Z",
      "id": "zIqn6nUjzzCSAYTZ",
      "name": "from-bluesky"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-11-02T22:33:17.000Z",
  "versionId": "f0adb334-b763-4688-b05c-c0ff5b5ab9b2"
}