workflows/My Mastodon posts to social-networks (Discord).json
{
  "active": true,
  "connections": {
    "Discord": {
      "main": [
        [
          {
            "node": "Set last update date for the next run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set last update date if never done": {
      "main": [
        [
          {
            "node": "Get all posts from Elanis on Mastodon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every X minutes": {
      "main": [
        [
          {
            "node": "Set last update date if never done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all posts from Elanis on Mastodon": {
      "main": [
        [
          {
            "node": "Filter out replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter out replies": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Set last update date if never done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set last update date for the next run": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-02T16:50:23.275Z",
  "id": "cRGYmKaszPIIUV2B",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My Mastodon posts to social-networks (Discord)",
  "nodes": [
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.url }}",
        "options": {}
      },
      "id": "ef225dbe-a104-4a67-b89f-b83eac6710b7",
      "name": "Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1360,
        540
      ],
      "credentials": {
        "discordWebhookApi": {
          "id": "F2jlVVALmGznxWXk",
          "name": "social-feed"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the static data of the node\nconst nodeStaticData = $getWorkflowStaticData('global');\n\n// Update its data\nif(!nodeStaticData.lastId) {\n  nodeStaticData.lastId = '113401017862058479';\n}\n\nreturn [{lastId: nodeStaticData.lastId }];"
      },
      "id": "8d2bd9f4-1991-4c45-bffa-9111ef23db41",
      "name": "Set last update date if never done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        600
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "15,45 * * * *"
            }
          ]
        }
      },
      "id": "2f103de1-f237-4e83-803e-00ffe62b761e",
      "name": "Every X minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        460,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the static data of the node\nconst nodeStaticData = $getWorkflowStaticData('global');\n\n// Update its data\nvar list = $('Get all posts from Elanis on Mastodon').all();\nlist.sort((a, b) => {\n  new Date(b.json.createdOn).getTime() - new Date(b.json.createdOn).getTime()\n});\n\nnodeStaticData.lastId = list[0].json.id;\n\nreturn [{list, lastId: nodeStaticData.lastId }];"
      },
      "id": "ce01ad0a-f716-446a-8e80-870132283554",
      "name": "Set last update date for the next run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        540
      ]
    },
    {
      "parameters": {
        "url": "https://mastodon.gamedev.place/api/v1/accounts/109308194245709401/statuses",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "since_id",
              "value": "={{ $json.lastId }}"
            },
            {
              "name": "exclude_replies",
              "value": "true"
            },
            {
              "name": "exclude_reblogs",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "5fda3c15-f28b-4ea7-8b4f-54bfd030360f",
      "name": "Get all posts from Elanis on Mastodon",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        600
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "jdbCWDL35Ymek9Xr",
          "name": "Mastodon"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "3fda5c68-06c6-4763-9459-59260a6e5587",
              "leftValue": "={{ $json.in_reply_to_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "c59d28c2-6887-476d-a9fd-01b0b70e8bdc",
      "name": "Filter out replies",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        600
      ]
    },
    {
      "parameters": {},
      "id": "cfd047fb-cef8-4272-b177-a3067641769d",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "workflowId": "RMUJd9Eo4VshlOfQ",
        "options": {}
      },
      "id": "484513bf-21bf-49ad-9f32-c78c738bf13f",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1800,
        540
      ],
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Every X minutes": {
      "recurrenceRules": []
    },
    "global": {
      "lastId": "113523142975961406"
    }
  },
  "tags": [
    {
      "createdAt": "2024-11-02T16:49:15.645Z",
      "updatedAt": "2024-11-02T16:49:15.645Z",
      "id": "CyfgQn7wBVAWBlz9",
      "name": "to-discord-public"
    },
    {
      "createdAt": "2024-11-02T16:42:14.857Z",
      "updatedAt": "2024-11-02T16:42:14.857Z",
      "id": "aHZEkpnFEPFOs05Z",
      "name": "from-mastodon"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-11-02T16:50:56.000Z",
  "versionId": "46d479a9-d9c2-4b90-99b5-b9ac0d818654"
}