workflows/Twitch to social-networks-feed (Discord).json
{
  "active": false,
  "connections": {
    "Discord": {
      "main": [
        [
          {
            "node": "Set last update date for the next run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set last update date if never done": {
      "main": [
        [
          {
            "node": "Set items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every X minutes": {
      "main": [
        [
          {
            "node": "Set last update date if never done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter to get recent posts": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set items": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube": {
      "main": [
        [
          {
            "node": "Filter to get recent posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-08T20:04:59.990Z",
  "id": "HjYun1vlGPn7ICUS",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Twitch to social-networks-feed (Discord)",
  "nodes": [
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=https://youtu.be/{{ $json.id.videoId }}",
        "options": {}
      },
      "id": "10867ce3-ea48-4537-b90e-f69a2792c1b3",
      "name": "Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        340,
        420
      ],
      "credentials": {
        "discordWebhookApi": {
          "id": "Z1uIAkjzjVDwhU8n",
          "name": "Discord Webhook - social-networks-feed"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the static data of the node\nconst nodeStaticData = $getWorkflowStaticData('global');\n\n// Update its data\nif(!nodeStaticData.lastExecution) {\n  nodeStaticData.lastExecution = new Date().getTime() - 7*24*3600*1000;\n}\n\nreturn [{lastExecution: nodeStaticData.lastExecution }];"
      },
      "id": "efca2361-ae08-4ed7-9651-8fa98543904b",
      "name": "Set last update date if never done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -540,
        520
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "570542d4-d6c8-48d9-a9fa-4edd20a14766",
      "name": "Every X minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -740,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "07f23053-a317-4e1d-b88d-96df9449d146",
              "leftValue": "={{ new Date($json.snippet.publishedAt).getTime() }}",
              "rightValue": "={{ $('Set last update date if never done').item.json.lastExecution }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "a6eeb994-e040-4da7-b735-e713b1755d9a",
              "leftValue": "={{ $json.id.kind }}",
              "rightValue": "youtube#video",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f7b77bf8-cbad-4389-9489-a21ca771b227",
      "name": "Filter to get recent posts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        80,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the static data of the node\nconst nodeStaticData = $getWorkflowStaticData('global');\n\n// Update its data\nnodeStaticData.lastExecution = $now - 10000;\n\nreturn [{lastExecution: nodeStaticData.lastExecution }];"
      },
      "id": "40bd0b7c-f127-4bb6-9aef-7f307d6f9160",
      "name": "Set last update date for the next run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { value: \"Manufactur'inc\" },\n  { value: \"Manufacturinc\" },\n  { value: \"Alchemistry\" },\n]"
      },
      "id": "b12f7372-5bf7-4b9a-9481-65397627abf7",
      "name": "Set items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        520
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "filters": {
          "q": "={{ $json.value }}"
        },
        "options": {}
      },
      "id": "1b99f5d3-837b-41cb-98a9-c543c22d8753",
      "name": "YouTube",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -140,
        520
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "bYly4dT51CPdXsDY",
          "name": "YouTube account: Dysnomia"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Every X minutes": {
      "recurrencyRules": [],
      "recurrenceRules": []
    },
    "global": {
      "lastExecution": 1722924046436
    }
  },
  "tags": [
    {
      "createdAt": "2024-08-08T20:04:48.309Z",
      "updatedAt": "2024-08-08T20:04:48.309Z",
      "id": "OjdytM1RhF6XIKDQ",
      "name": "from-twitch"
    },
    {
      "createdAt": "2024-08-08T19:41:09.423Z",
      "updatedAt": "2024-08-08T19:41:09.423Z",
      "id": "Z6eTqcJ0heLsAhux",
      "name": "to-discord-private"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-08-08T20:04:59.990Z",
  "versionId": "832a9460-dbd3-4692-a449-1e422c02c226"
}