workflows/Twitch to social-networks-feed (Discord).json
{
  "active": true,
  "connections": {
    "Discord": {
      "main": [
        [
          {
            "node": "Set last update date for the next run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set last update date if never done": {
      "main": [
        [
          {
            "node": "Set items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every X minutes": {
      "main": [
        [
          {
            "node": "Set last update date if never done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set items": {
      "main": [
        [
          {
            "node": "Twitch - Get category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitch - Get category": {
      "main": [
        [
          {
            "node": "Twitch - Get streams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitch - Get streams": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter to get recent streams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter to get recent streams": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-02T16:55:17.741Z",
  "id": "Uhz4ODM4utguCtJJ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Twitch to social-networks-feed (Discord)",
  "nodes": [
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=Stream on {{ $('Twitch - Get category').item.json.data[0].name }}: https://twitch.tv/{{ $json.user_login }}",
        "options": {}
      },
      "id": "8c758a1c-925d-4c5d-8163-ebb2fac52bff",
      "name": "Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        460,
        460
      ],
      "credentials": {
        "discordWebhookApi": {
          "id": "7GJE0UNQkqw0bawY",
          "name": "social-networks-feed"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the static data of the node\nconst nodeStaticData = $getWorkflowStaticData('global');\n\n// Update its data\nif(!nodeStaticData.lastExecution) {\n  nodeStaticData.lastExecution = new Date().getTime() - 7*24*3600*1000;\n}\n\nreturn [{lastExecution: nodeStaticData.lastExecution }];"
      },
      "id": "5ba51dbe-eafe-4067-be2b-ec6c0445111c",
      "name": "Set last update date if never done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        560
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "2d896849-96d0-47f9-bc0a-98348d5265cf",
      "name": "Every X minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1000,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the static data of the node\nconst nodeStaticData = $getWorkflowStaticData('global');\n\n// Update its data\nnodeStaticData.lastExecution = $now - 10000;\n\nreturn [{lastExecution: nodeStaticData.lastExecution }];"
      },
      "id": "1771192b-ba97-40e8-b31e-00f01dbb2363",
      "name": "Set last update date for the next run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { value: \"Manufacturinc\" },\n  { value: \"Alchemistry\" },\n  { value: \"Extortion\" }\n]"
      },
      "id": "81916217-5a38-418b-8b4a-b72496c69ac2",
      "name": "Set items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -620,
        560
      ]
    },
    {
      "parameters": {
        "url": "=https://api.twitch.tv/helix/games?name={{ $json.value }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Id",
              "value": "=evxh57y190gjm15ip8up7otgggu57w"
            }
          ]
        },
        "options": {}
      },
      "id": "05888a28-6440-4b26-9897-6c05742bbe73",
      "name": "Twitch - Get category",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -420,
        560
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "8MnkmjjbEltxY8H1",
          "name": "Twitch"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.twitch.tv/helix/streams?game_id={{ $json.data[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Id",
              "value": "=evxh57y190gjm15ip8up7otgggu57w"
            }
          ]
        },
        "options": {}
      },
      "id": "cbc061b6-833b-4064-bbcb-b9d99ad2b53f",
      "name": "Twitch - Get streams",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        560
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "8MnkmjjbEltxY8H1",
          "name": "Twitch"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "3e5f9eaa-4e04-46b6-9c86-977b90145390",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -40,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "07f23053-a317-4e1d-b88d-96df9449d146",
              "leftValue": "={{ new Date($json.started_at).getTime() }}",
              "rightValue": "={{ $('Set last update date if never done').item.json.lastExecution }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "df9244aa-7172-485d-9132-08c8276c7850",
      "name": "Filter to get recent streams",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        160,
        560
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Every X minutes": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-11-02T16:55:41.470Z",
      "updatedAt": "2024-11-02T16:55:41.470Z",
      "id": "6gDkRa0dNZba6vYf",
      "name": "from-twitch"
    },
    {
      "createdAt": "2024-11-02T16:36:53.857Z",
      "updatedAt": "2024-11-02T16:36:53.857Z",
      "id": "9XaKO3szxYPXQNkk",
      "name": "to-discord-private"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-11-02T17:21:45.000Z",
  "versionId": "be5b2f92-5987-4f4a-bd4c-3d8c62083e02"
}