workflows/Youtube to social-networks-feed (Discord).json
{
  "active": false,
  "connections": {
    "Discord": {
      "main": [
        [
          {
            "node": "Set last update date for the next run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set last update date if never done": {
      "main": [
        [
          {
            "node": "Set games list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every X minutes": {
      "main": [
        [
          {
            "node": "Set last update date if never done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter on activity name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep only videos": {
      "main": [
        [
          {
            "node": "Group ids to reduce http requests amount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set games list": {
      "main": [
        [
          {
            "node": "YouTube - Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube - Search": {
      "main": [
        [
          {
            "node": "Keep only videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get activity": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter on activity name": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group ids to reduce http requests amount": {
      "main": [
        [
          {
            "node": "Get activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-24T17:01:20.609Z",
  "id": "Iugtgf8ltqxW0Nln",
  "meta": null,
  "name": "Youtube to social-networks-feed (Discord)",
  "nodes": [
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=https://youtu.be/{{ $json.id.videoId }}",
        "options": {}
      },
      "id": "fc8eff25-74e0-491e-b431-e0c0aacebaca",
      "name": "Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        0,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the static data of the node\nconst nodeStaticData = $getWorkflowStaticData('global');\n\n// Update its data\nif(!nodeStaticData.lastExecution) {\n  nodeStaticData.lastExecution = new Date().getTime() - 7*24*3600*1000;\n}\n\nreturn [{lastExecution: nodeStaticData.lastExecution }];"
      },
      "id": "f6e47fa3-304e-4121-84fd-94b3b9767f9d",
      "name": "Set last update date if never done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "ee6918e6-2c3d-424b-889a-f1b1f5784b5a",
      "name": "Every X minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the static data of the node\nconst nodeStaticData = $getWorkflowStaticData('global');\n\n// Update its data\nnodeStaticData.lastExecution = $now - 10000;\n\nreturn [{lastExecution: nodeStaticData.lastExecution }];"
      },
      "id": "9b96b5c9-f3f6-4b7b-bd75-17574000e8a6",
      "name": "Set last update date for the next run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        460
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "id": "c9c03cff-e7de-4415-a43f-68491fbcbb53",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        840,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2a8c3e04-83b6-47ff-a392-0e1e33ee4fe2",
              "leftValue": "={{ $json.id.kind }}",
              "rightValue": "youtube#video",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7c3373e3-0f3b-4466-8de4-f614fc374214",
      "name": "Keep only videos",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        200,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { value: \"Manufactur'inc\" },\n  { value: \"Manufacturinc\" },\n  { value: \"Alchemistry\" },\n  { value: \"Extortion\" },\n]"
      },
      "id": "c1113d42-57a5-44b9-86ef-41876410a5b7",
      "name": "Set games list",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        0
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "limit": 50,
        "filters": {
          "publishedAfter": "={{ new Date($('Set last update date if never done').item.json.lastExecution - 1000).toISOString() }}",
          "q": "=\"{{ $json.value }}\"",
          "videoCategoryId": "20"
        },
        "options": {}
      },
      "id": "785c0abe-9b60-440f-887b-42c09628950b",
      "name": "YouTube - Search",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        0,
        240
      ]
    },
    {
      "parameters": {
        "url": "=https://yt.lemnoslife.com/videos?part=activity&id={{ $json.ids }}",
        "options": {}
      },
      "id": "d0e3ab1c-0729-4c75-ba89-46f148aa36da",
      "name": "Get activity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        240
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "a6eeb994-e040-4da7-b735-e713b1755d9a",
              "leftValue": "={{ $('Set games list').all().map(x => x.json.value) }}",
              "rightValue": "={{ $json.activity.name }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f972bf6d-321e-4517-9921-c7396df98c12",
      "name": "Filter on activity name",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1060,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "let cache = [];\nconst queries = [];\nfor (const item of $input.all()) {\n  if(cache.length === 50) {\n    queries.push({\n      ids: cache.join(',')\n    });\n    cache = [];\n  }\n\n  if(item?.json?.id?.videoId) {\n    cache.push(item.json.id.videoId);\n  }\n}\n\nqueries.push({\n  ids: cache.join(',')\n});\n\nreturn queries;"
      },
      "id": "8f7afee2-0a47-491c-8b46-f53c8193b9d3",
      "name": "Group ids to reduce http requests amount",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        240
      ],
      "executeOnce": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "createdAt": "2025-01-24T17:01:23.992Z",
      "updatedAt": "2025-01-24T17:01:23.992Z",
      "id": "QBuennGlvlfn04eY",
      "name": "from-youtube"
    },
    {
      "createdAt": "2025-01-24T16:28:37.143Z",
      "updatedAt": "2025-01-24T16:28:37.143Z",
      "id": "ieKlQBu6AZC4wykv",
      "name": "to-discord-private"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-24T17:01:27.000Z",
  "versionId": "241b3452-826a-4b89-b809-04c2ea66959c"
}